<div class="p-2 mt-1">
    <h3>Order Details</h3>
</div>

<div class="mat-table orders-table">
<div class="mat-header-row">
  <div class="mat-header-cell">Order Number</div>
  <div class="mat-header-cell">Order Date</div>
  <div class="mat-header-cell">Order Total</div>
  <div class="mat-header-cell">Order Status</div>
  
</div>
<div class="mat-row">
  <div class="mat-cell "><span class="order"> <strong> {{data.command.NumOrder}}</strong></span></div>
  <div class="mat-cell "> <strong>{{data.command.date}}</strong></div>
  <div class="mat-cell "><strong>${{data.command.Total}}</strong></div>
  <div class="mat-cell "><strong>{{data.command.status}}</strong></div>     
 

</div>
</div>

<div class="mat-table orders-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Delivry Method</div>
      <div class="mat-header-cell">Card Number</div>
     
      
    </div>
    <div class="mat-row">
      <div class="mat-cell "><span class="order"><strong>{{data.command.DeliveryMethod}}</strong></span></div>
      <div class="mat-cell "><strong>{{data.command.CardNumber}}</strong></div>
      
    </div>
</div>
<div class="p-2 mt-1">
    <h3>Products</h3>
</div>
<div class="mat-table orders-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Title</div>
      <div class="mat-header-cell">Quantity</div>
      <div class="mat-header-cell">Price</div>
      <div class="mat-header-cell">Total product Price</div>

     
      
    </div>
    <div *ngFor="let product of data.command.products ;index as i" class="mat-row">
      <div class="mat-cell "><span class="order"><strong>{{product.product.titre}}</strong></span></div>
      <div class="mat-cell "><strong>{{product.productCount}}</strong></div>
      <div class="mat-cell "><strong>${{product.product.prix}}</strong></div>
      <div class="mat-cell "><strong>${{product.product.prix*product.productCount}}</strong></div>
   
    </div>
</div>
<button mat-raised-button color='primary' mat-dialog-close tabindex="-1">Close</button>

